@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-secondary;
}

.sidebar-scroll {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.sidebar-scroll::-webkit-scrollbar {
  display: none;
}

.hero-slider .swiper-pagination {
  display: inline-flex;
  flex-direction: column;
  gap: 20px;
  right: 120px !important;
  top: 50% !important;
  transform: translateY(-50%);
  width: min-content;
  height: fit-content;
  left: unset;
}

.swiper-pagination-bullet {
  position: relative;
  width: 10px;
  height: 10px;
  background-color: white;
  opacity: 0.4;
  border-radius: 50%;
  margin: 8px 0;
  cursor: pointer;
  transition: opacity 0.3s;
  z-index: 1;
}

.swiper-pagination-bullet-active {
  opacity: 1;
}

.swiper-pagination-bullet:hover {
  opacity: 1;
}

.swiper-pagination-bullet::after {
  content: attr(data-tooltip);
  max-width: 420px;
  width: max-content;
  position: absolute;
  right: 21px;
  top: 50%;
  transform: translateY(-50%);
  background-color: white;
  color: #14283C;
  @apply bg-white text-midnightBlue font-playfair-display font-extrabold text-xl text-left rounded-xl py-[15px] px-[20px] z-10 opacity-0 pointer-events-none transition-opacity duration-300 ease-linear shadow-[0_4px_10px_rgba(0,0,0,0.1)];
}

.swiper-pagination-bullet::before {
  content: "";
  position: absolute;
  right: 9px;
  top: 50%;
  transform: translateY(-50%);
  border: 6px solid transparent;
  border-left-color: white;
  opacity: 0;
  pointer-events: none;
    transition: opacity 0.3s ease;
}

.swiper-pagination-bullet:hover::after,
.swiper-pagination-bullet:hover::before {
  opacity: 1;
}

/* category */
.category-scroll {
  scrollbar-width: none;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
  touch-action: pan-x;
}

.category-scroll::-webkit-scrollbar {
  display: none;
}

.grab-scroll {
  cursor: grab;
  user-select: none;
}

.grabbing {
  cursor: grabbing;
}

/* card-slider */
.fast-slider .swiper-button-disabled {
  visibility: hidden;
}
/* short-game-mastery-section */
.short-game-mastery-section .swiper-button-disabled {
  visibility: hidden;
}
/* swing-mechanics-section */
.swing-mechanics-section .swiper-button-disabled {
  visibility: hidden;
}
/* legends-of-golf-section */
.legends-of-golf-section .swiper-button-disabled {
  visibility: hidden;
}

/* date-custom-icon */
input[type="date"]::-webkit-inner-spin-button {
  opacity: 0;
}
.form-control input {
    border: none;
    box-sizing: border-box;
    outline: 0;
    position: relative;
    width: 100%;
     cursor: pointer;
}
input[type="date"]::-webkit-calendar-picker-indicator {
    background: red;
    bottom: 0;
    color: transparent;
    cursor: pointer;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-clear-button {
  display: none;
}

input[type="date"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  z-index: 1;
  color-scheme: dark; /* Optional */
}
@-moz-document url-prefix() {
  input[type="date"] {
    color: transparent;
    text-shadow: 0 0 0 #fff; /* Or your text color */
  }
}
/* The container */
.custom-checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.custom-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 21px;
  width: 21px;
  border-radius: 5px;
  background-color: #FFFFFF33;
}


/* On mouse-over, add a grey background color */
.custom-checkbox:hover input ~ .checkmark {
  background-color: #FFFFFF;
}

/* When the checkbox is checked, add a blue background */
.custom-checkbox input:checked ~ .checkmark {
  background-color: #D5A342;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.custom-checkbox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.custom-checkbox .checkmark:after {
  left: 7px;
    top: 2px;
    width: 8px;
    height: 14px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}